:root {
	--font-size-big: 22px;
	--font-size-mid: 18px;
	--font-size-small: 16px;
	--font-color: #333333;
	--font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica, Arial, sans-serif';
	--front-color: rgba(255, 69, 0, 1);
	--background-color: rgba(255, 69, 0, 0.2);
}
* {
	margin: 0;
	padding: 0;
}
html {
	width: 100vw;
	height: 100vh;
}
body {
	width: 100%;
	height: 100%;
	font-family: var(--font-family);
}
header {
	width: 100%;
	height: 200px;
	line-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--font-color);
	font-size: 40px;
}
header > .label {
	margin-left: 10px;
	background: linear-gradient(90deg, var(--front-color), gold);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
}
main {
	column-gap: 20px;
	column-count: 4;
	column-fill: auto;
	padding: 20px;
	max-height: 600px;
}
.card {
	display: flex;
	flex-direction: column;
	padding-left: 16px;
	/* break-inside: avoid;
	-webkit-column-break-inside: avoid; */
}
main figcaption {
	height: 25px;
	line-height: 25px;
	margin: 20px 0 10px 0;
	font-size: var(--font-size-mid);
	color: var(--front-color);
	font-weight: bold;
}
main > .card > figcaption {
	font-size: var(--font-size-big);
	margin: 0 0 20px 0;
	list-style: none;
	content: none;
}
a {
	height: 25px;
	line-height: 25px;
	color: var(--font-color);
	font-size: var(--font-size-small);
	margin: 5px 0;
}
a::before {
	content: '\2022';
	display: inline-block;
	width: 14px;
	font-family: 'entypo', sans-serif;
}
a:hover {
	transition: ease-in 100ms;
	text-decoration-color: var(--front-color);
	color: var(--front-color);
}
a:visited {
	color: var(--front-color);
}
